<div class="main">
    
    <app-header [pageTitle]="'MY NOTES'">
        <div class="search" *ngIf="user.notes.length > 0">
            <app-input class="app-input">
                <input placeholder="search note..." type="text" [(ngModel)]="search" />
            </app-input>
            
        </div>
    </app-header>

    <div class="body-content">

        <div class="container margin-aside">

            <div class="new-note-container margin-bottom-25">
                <h3 class="heading-2-bold">Hello, {{ user.name }}</h3>
                <app-button *ngIf="user.notes.length !== 0" [useIcon]="true" (click)="noteService.goTo('/new-note')">add note</app-button>
                
            </div>


            <div class="user-notes-container">

                <div class="message-box" *ngIf="user.notes.length === 0">
                    <h2 class="message-box-text heading-1-medium margin-bottom-25">
                        You have no notes yet. Add some!
                    </h2>
                    <app-button [useIcon]="true" (click)="noteService.goTo('/new-note')">add note</app-button>
                </div>

                <div class="notes-container" *ngIf="user.notes.length > 0">
                    
                    <ul class="notes">
                        <li class="note" (click)="openNote(note.id)" *ngFor="let note of ((search && search.length >= 1) ? (user.notes | search: 'title':search) : (user.notes))">
                            
                            <div class="note-info">
                                <h3 class="note-title" [innerHtml]="note.title"></h3>
                                <p class="note-date" [innerHtml]="note.dateCreate | date:'medium'"></p>
                            </div>
                            <div class="note-action">
                                <svg width="4" height="24" viewBox="0 0 4 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g>
                                        <circle cx="2" cy="2" r="2" fill="#404040"/>
                                        <circle cx="2" cy="12" r="2" fill="#404040"/>
                                        <circle cx="2" cy="22" r="2" fill="#404040"/>
                                    </g>
                                </svg>
                            </div>
                        </li>
                        
                    </ul>
                </div>
                
            </div>
        </div>
    
    </div>

</div>

<app-modal (cancel)="closeModal()" class="app-modal" *ngIf="noteModal" [show]="showModal">

    <div close class="modal-close" (click)="showModal = false">
        <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g>
                <line x1="1.3741" y1="2.18224" x2="16.9304" y2="17.7386" stroke="#FF4F84" stroke-width="2"/>
                <line x1="16.9303" y1="1.37411" x2="1.3739" y2="16.9305" stroke="#FF4F84" stroke-width="2"/>
            </g>
        </svg>
    </div>

    <div container class="modal-container">

        <div class="modal-content">
            <h1 class="note-title">{{ noteModal.title }}</h1>
            <p class="note-date">{{ noteModal.dateCreate | date: 'medium' }}</p>
            <p class="note-description">{{ noteModal.description }}</p>
        </div>
        <div class="modal-actions">
            <app-button (click)="noteService.goTo('my-notes/' + noteModal.id)">Edit this note</app-button>
            <a (click)="noteService.deleteNote(user, noteModal.id); showModal = false" class="cancel-button">Delete</a>
        </div>
    </div>
</app-modal>


