@import '../../../assets/styles/variables.scss';

.title {
    font-family: $font-bold;
}

.main {
    .body-content {
        .container {
            .new-note-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .user-notes-container {
                .message-box {
                    max-width: 700px;
                    margin-left: auto;
                    margin-right: auto;
                    background-color: $light-color;
                    padding: 41px 25px;
                    border-radius: 6px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .message-box-text {
                        text-align: center;
                    }
                }

                .notes-container {
                    .notes {
                        display: flex;
                        flex-direction: column;
                        .note {
                            background-color: $light-color;
                            padding: 20px 16px;
                            margin-bottom: 20px;
                            border-radius: 6px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            transition: all .3s ease;
                            cursor: pointer;

                            .note-action {
                                display: block;
                                padding: 0 16px;
                            }

                            &:hover {
                                background-color: $gray-light;
                            }

                        }
                    }
                }
            }
        }
    }
}

.app-modal {
    display: flex;

    .modal-close { 
        flex: 0;
        align-self: flex-end;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 16px;
     }
    
    .modal-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .modal-actions {
            align-self: flex-end;
            margin-top: 41px;
            display: flex;
        }
    }
}

.note-title {
    font-family: $font-bold;
    font-size: 20px;
    margin-bottom: 6px;
}
p.note-date {
    font-family: $font-bold;
    font-size: 13px;
    color: $primary-color;
}
p.note-description {
    margin-top: 16px;
    font-family: $font-regular;
    font-size: 16px;
    color: $dark-color;
}
