@import '../styles/fonts.scss';

// colors
$primary-color: #FF4F84;
$secondary-color: #ff5100;
$dark-color: #404040;
$light-color: #EEEEEE;
$gray-light: #D5D5D5;
$gray-medium: #AAAAAA;
$gray-heavy: #828282;
$white: #FFFFFF;

// fonts
$font-regular: 'RobotoRegular';
$font-medium: 'RobotoMedium';
$font-bold: 'RobotoBold';